<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="featuredauthor.component.css">
</head>
<body>
    <div class="featured-author" *ngFor="let author of authors">
        <div class="author-box">
          <img class="author-image" src="{{ author.imageUrl }}" alt="{{ author.name }}">
          <div class="author-info">
            <h2>{{ author.name }}</h2>
            <p>{{ author.bio }}</p>
          </div>
        </div>
      </div>
      
</body>
</html>